
* {
  box-sizing: border-box;
}

.container {
  background-color: blue;
  margin: 20px auto;
  width:80%;
  padding: 20px;

}

header {
  background-color: orange;
  height: 40px;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding-top: 20px;
  /*flex-wrap: wrap;*/

}

article {
  background-color: green;
    

}
