*{
    box-sizing: border-box;
}

body{ /*estilos generales*/
    margin: 0;
    padding: 0;
}

img{
    width: 100%; /*se adaptan las imágenes al contenedor*/
}

.row{
    padding: 5px;

}

.column{
    padding: 5px;
}

.column img{
    margin-top: 5px;
}

@media (max-width: 800px){ /*tablet*/
    
}

@media (max-width: 600px){ /*movil*/

}