html { font-size: 22px; }
body { padding: 1rem; }

img {
  /*https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit*/
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card {
  /*background-color: dodgerblue;
  color: white;*/
  padding: 1rem;
  /*height: 4rem;*/
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;

  /*  la potencia de minmax la encontramos 
  cuando lo combinamos con el repeat(), 
  porque entonces conseguimos que el número de columnas 
  sea también dinámico (es una alternativa a css flex o a css grid con media queries)*/

  /*pinta tantas columnas como puedas que vayan de 300px hasta 1fr 
  (el máximo espacio que esté disponible)*/

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
