* {
  box-sizing: border-box;
}

.container {
  align-items: flex-end;
  background-color: blanchedalmond;
  display: flex;
  height: 300px;
  justify-content: center;
  margin: 20px auto;
  padding: 2em;
  width: 80%;
}

.container > div {
  background-color: aquamarine;
  border: 1px solid black;
  height: 100px;
  width: 25%;
}

.container > div:nth-child(2) {
  align-self: center;
}
