main {
    /*max-width: 800px;*/
    padding: 1rem;
    margin: 0 auto;
    height: 80vh;
    width: 60vw;

    /* Añadir propiedades grid layout */
    display: grid;

    /* 3 filas x 4 columnas */
    grid-template-rows: 30% 30% 30%;
    grid-template-columns: 25% 25% 25% 25%;

    /*grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);*/

    grid-template-areas:
        "uno dos tres tres"
        "uno cuatro cinco seis"
        "siete ocho ocho seis";

    gap: 1rem;

}

img {
    object-fit: cover; /*https://developer.mozilla.org/es/docs/Web/CSS/object-fit*/
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

img:nth-child(1) {
    grid-area: uno;

}

img:nth-child(2) {
    grid-area: dos;

}

img:nth-child(3) {
    grid-area: tres;
}

img:nth-child(4) {
    grid-area: cuatro;
}

img:nth-child(5) {
    grid-area: cinco;
}

img:nth-child(6) {
    grid-area: seis;
}

img:nth-child(7) {
    grid-area: siete;

}

img:nth-child(8) {
    grid-area: ocho;
}