main {
    max-width: 800px;
    padding: 1rem;
    margin: 0 auto;
    height: 80vh;

    /* Añadir propiedades grid layout */
    
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

