@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");


* {
  box-sizing: border-box;
}

ul {
  padding-left: 1.5rem;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: snow;
  margin: 0 auto;
  max-width: 1000px;
}

.item {
  padding: 8px;
  background-color: white;
  border: 4px solid tomato;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.height-50 {
  height: 50vh;
}

/* Task RESPONSIVE*/

/* Mobile */
.container {
  display: grid;
  height: 100vh;

  grid-template-rows: auto auto 1fr auto auto auto;
  gap: 24px;  
}

/* Tablet */
@media (min-width: 720px) {
 
  /* The header section takes 12 columns*/
  header {
    grid-column: 1 / span 12;
  }

  /* The navigation section also takes 12 columns*/
  nav {
    grid-column: 1 / span 12;
  }

  /* The main section takes 10 columns start from column 3*/
  main {
    grid-column: 3 / span 10;
  }

  /* The sidebar takes 2 columns start from column 1*/
  aside {
    grid-column: 1 / span 2;
    grid-row: 3;
  }

  /* The ads section takes 2 columns start from column 1*/
  #ads {
    grid-column: 1 / span 2;
  }

  /* The footer section takes 10 columns start from column 3*/
  footer {
    grid-column: 3 / span 10;
  }
}
/* Desktop: we will work with a screen that is bigger than 1020px */
@media (min-width: 1020px) {

  /* The navigation takes 8 columns starting from column 3*/
  nav {
    grid-column: 3 / span 8;
  }

  /* The main section takes 8 columns starting from column 3*/
  main {
    grid-column: 3 / span 8;
  }

  /* The sidebar starts from row 2 and ends at row 4 */
  aside {
    grid-row: 2 / 4
  }

  /* The ads section takes 2 columns starting from column 11
   it also takes 2 rows starting from row 2 and ending at row 4 */
  #ads {
    grid-column: 11 / span 2;
    grid-row: 2 / 4;
  }

  /* The footer section takes 12 columns start from column 1*/
  footer {
    grid-column: 1 / span 12;
  }
}

