/* Utilizando únicamente pseudoselectores da color de fondo verde a las casillas que contien horas */

/* Utilizando únicamente pseudoselectores da color de fondo amarillo a la celda de recreo */

/* Cambiar los estado de los enlaces para que:

 Nunca estén subrayados
 Si están visitados se muestren en rojo
 Si no están visitado se muestren en verde */


/* Utilizando pseudoselectores hacer que cuando pasemos el ratón sobre la columna del viernes
aumente el tamaño de letra al doble */


/* Utilizando Pseudoelementos Haz que la primera letra de los días tenga el doble de tamaño*/

/* Añade un borde rojo que esté separado 5 px a los campos obligatorios */

/* Añade un * en rojo detrás de las etiquetas */
